.param-box{ padding:20px; background-color: #EEE; box-shadow: -2px 2px 15px #999; }
.param-box .row-720 { margin: 0; padding: 0; width: 720px; height: 30px; display: block; padding-top: 10px;}
.param-box table .row-720 { margin: 0; padding: 0; width: 720px; height: 63px; display: block; padding-top: 10px;}
.param-box h1{ font-family:arial; font-size: 18pt; margin: 5px 0px; }
.param-box label{ margin:0 10px 0 5px; }

.param-box input { margin-bottom: 10px; }
.param-box input.small{ width: 50px; margin-right: 10px; }
.param-box input.middle{ margin:0; width: 100px; }
.param-box input.middle.large { margin:0; width: 350px; }
.param-box input.standart{ margin:0; width: 200px; }
.param-box input.large{ margin:0; width: 500px; }
.param-box table.parameters input.custom-input{ margin:0; width: 270px; }
.param-box table.parameters select{ width: 270px; }

.param-box table.lechenie div.table_name { margin: 5px; font-weight: bold;  }
.param-box table.lechenie div.treat_table_wrapper { border: 1 dotted #777; margin: 5px; background-color: #EEE; }
.param-box .checkboxes input { width: 15px; }
.param-box .checkboxes label { display: block; }
.param-box textarea { width: 250px; }
.param-box table.parameters { border-spacing: 0px; }
.param-box table.parameters td { border-bottom: 1 dotted #777; vertical-align: top; padding: 10px 0 10px 10px; min-width: 150px; }
.param-box .sub { padding-left: 20px; }
.param-box .date-wrapper { float: right; }
@media print{ div.param-box { display: none; } }