.param-box  h1{
	font-family:arial;
	font-size: 18pt;
	margin: 5px 0px;
}
.param-box  label{ margin:0 10px 0 5px; }
.param-box input { margin-bottom: 10px; }
.param-box{
	padding:10px;
	margin:0px;
	width:40%;
	float:left;
	display:block;
}
.param-box table select{ width: 250px; }
.param-box table input.standart{ margin:0; width: 200px; }

.param-box table input.custom-input{ margin:0; width: 300px; }
.param-box input.person-name{ margin:0; width: 500px; }
.param-box .checkboxes input { width: 15px; }
.param-box  table { border-spacing: 0px; }
.param-box  table.parameters td { vertical-align: top; border-bottom: 1 dotted #777; padding: 10px 0 5px 0; }
.param-box  table.parameters tr { }
.param-box input.small{
	width: 50px;
	margin-right: 10px;
}