.text-box{
    padding:20px 20px 20px 100px;
    border: 1px solid #CCC;
    font-family:arial;
    box-shadow: -2px 2px 15px #999;
    margin-bottom: 30px;
    margin-top: 30px;
}
.text-box table.info { border-spacing: 0; margin: 10px 0; }
.text-box table.info td{ padding: 5px; font-family:arial; font-size: 9pt;}

.text-box{ background-color: #FFF; }
.text-box  .date,
.text-box h1 { font-size: 14px; color: #555; margin: 0; }
.text-box h2{ font-size: 14px; margin: 0; }
.text-box p { margin: 2px 0 2px 0; }
.text-box div {	
    font-family:arial;
    font-size: 12px;
    margin: 3px 0 0 0; 
}  
.text-box div pre { 
    margin: 0;
    margin-right: 5px;
    display: inline;
    font-family:arial;
    font-size: 12px;
}
.text-box  .date {
    display: inline; 
    float: right;
    margin-right: 20px;
}
.text-box div.separator { height: 10px; }
.text-box div.small { font-size: 9pt; }

.text-box table.result td{ vertical-align: top; width: 50%; }
.text-box table.result { width: 90%; }
@media print{ 
    .text-box { width: 90%; padding: 0 50px 0 50px; margin: 0; border: 0; height: 0;} 
}